<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>SKSFile</key>
			<string>Level1</string>
			<key>PassLevelWithEnemiesKilled</key>
			<integer>40</integer>
			<key>HalfGoalsToPassForOnePlayer</key>
			<true/>
			<key>GoalMultipliedByLevelsPassed</key>
			<true/>
			<key>CameraFollowsPlayerX</key>
			<true/>
			<key>CameraBetweenPlayersX</key>
			<true/>
			<key>RefreshLevelOnDeath</key>
			<true/>
			<key>BoundaryFlip</key>
			<false/>
			<key>ResetScore</key>
			<false/>
			<key>LevelResetsHearts</key>
			<true/>
			<key>StealHearts</key>
			<true/>
			<key>PlayerOnPlayerBounceThreshold</key>
			<integer>50</integer>
			<key>PlayerOnPlayerImpact</key>
			<integer>150</integer>
			<key>RespawnFollowsPlayerX</key>
			<false/>
			<key>SoundLevelBegin</key>
			<string></string>
			<key>SoundLevelFail</key>
			<string>game-over.wav</string>
			<key>SoundLevelSucceed</key>
			<string>win-sound.mp3</string>
			<key>SoundPlayer1Win</key>
			<string></string>
			<key>SoundPlayer2Win</key>
			<string></string>
			<key>UnlimitedBullets</key>
			<false/>
			<key>KeepExistingBulletCount</key>
			<true/>
			<key>BulletsToStart</key>
			<integer>25</integer>
			<key>MaxBulletsToStart</key>
			<integer>100</integer>
			<key>PlayMp3FromList</key>
			<integer>0</integer>
			<key>ResetPlatformTime</key>
			<integer>0</integer>
			<key>Player1Ammo</key>
			<dict>
				<key>AwardsHowMuch</key>
				<integer>15</integer>
				<key>SpawnsHowOften</key>
				<integer>40</integer>
				<key>SpawnsAtRandomTime</key>
				<true/>
				<key>MinimumTimeBetweenSpawns</key>
				<integer>20</integer>
				<key>AwardsToBothPlayers</key>
				<false/>
				<key>OnlyAllowOneAtATime</key>
				<true/>
				<key>SoundAmmoCollect</key>
				<string>ammo-pick-up.wav</string>
				<key>SoundAmmoDrop</key>
				<string></string>
			</dict>
			<key>Player2Ammo</key>
			<dict>
				<key>AwardsHowMuch</key>
				<integer>15</integer>
				<key>SpawnsHowOften</key>
				<integer>40</integer>
				<key>SpawnsAtRandomTime</key>
				<true/>
				<key>MinimumTimeBetweenSpawns</key>
				<integer>20</integer>
				<key>AwardsToBothPlayers</key>
				<false/>
				<key>OnlyAllowOneAtATime</key>
				<true/>
				<key>SoundAmmoCollect</key>
				<string>ammo-pick-up.wav</string>
				<key>SoundAmmoDrop</key>
				<string></string>
			</dict>
			<key>Enemies</key>
			<dict>
				<key>SkeletonKingLeft</key>
				<dict>
					<key>Name</key>
					<string>SkeletonKing</string>
					<key>InitialDelay</key>
					<integer>1</integer>
					<key>Score</key>
					<integer>500</integer>
					<key>SpawnFrequency</key>
					<integer>2</integer>
					<key>TotalToSpawn</key>
					<integer>0</integer>
					<key>SpawnNode</key>
					<string>LeftSpawn</string>
					<key>BodyType</key>
					<string>Circle</string>
					<key>BodyOffset</key>
					<string>{ 0, 18 }</string>
					<key>RadiusDivider</key>
					<integer>3</integer>
					<key>XScale</key>
					<integer>1</integer>
					<key>ReviveTime</key>
					<integer>1</integer>
					<key>SpeedAfterRevive</key>
					<integer>4</integer>
					<key>ReviveCount</key>
					<integer>1</integer>
					<key>BlinkToDeath</key>
					<true/>
					<key>JumpOnToKill</key>
					<true/>
					<key>JumpOnBounceBack</key>
					<integer>100</integer>
					<key>JumpThreshold</key>
					<integer>50</integer>
					<key>Speed</key>
					<integer>2</integer>
					<key>Atlas</key>
					<string>SkeletonKing</string>
					<key>BaseFrame</key>
					<string>KingWalk1</string>
					<key>Depth</key>
					<integer>1</integer>
					<key>SoundEnemyEnter</key>
					<string></string>
					<key>SoundEnemyHurt</key>
					<string>monster_hurt.wav</string>
					<key>SoundEnemyDie</key>
					<string>monster_hurt.wav</string>
					<key>SoundEnemyAttack</key>
					<string></string>
					<key>WalkFrames</key>
					<array>
						<string>KingWalk1</string>
						<string>KingWalk2</string>
						<string>KingWalk3</string>
						<string>KingWalk4</string>
						<string>KingWalk5</string>
						<string>KingWalk6</string>
						<string>KingWalk7</string>
						<string>KingWalk8</string>
						<string>KingWalk9</string>
						<string>KingWalk10</string>
						<string>KingWalk11</string>
						<string>KingWalk12</string>
						<string>KingWalk13</string>
						<string>KingWalk14</string>
						<string>KingWalk15</string>
						<string>KingWalk16</string>
					</array>
					<key>AttackFrames</key>
					<array>
						<string>KingAttack1</string>
						<string>KingAttack2</string>
						<string>KingAttack3</string>
						<string>KingAttack4</string>
						<string>KingAttack5</string>
						<string>KingAttack6</string>
						<string>KingAttack7</string>
						<string>KingAttack8</string>
						<string>KingAttack9</string>
						<string>KingAttack10</string>
					</array>
					<key>AngryWalkFrames</key>
					<array>
						<string>KingRun1</string>
						<string>KingRun2</string>
						<string>KingRun3</string>
						<string>KingRun4</string>
						<string>KingRun5</string>
						<string>KingRun6</string>
						<string>KingRun7</string>
						<string>KingRun8</string>
					</array>
					<key>HurtFrames</key>
					<array>
						<string>KingHurt1</string>
						<string>KingHurt2</string>
						<string>KingHurt3</string>
						<string>KingHurt4</string>
						<string>KingHurt5</string>
						<string>KingHurt6</string>
						<string>KingHurt7</string>
						<string>KingHurt8</string>
						<string>KingHurt9</string>
						<string>KingHurt10</string>
						<string>KingHurt11</string>
						<string>KingHurt12</string>
						<string>KingHurt13</string>
						<string>KingHurt14</string>
						<string>KingHurt15</string>
						<string>KingHurt16</string>
						<string>KingHurt17</string>
						<string>KingHurt18</string>
					</array>
					<key>DeadFrames</key>
					<array>
						<string>KingDeath1</string>
						<string>KingDeath2</string>
						<string>KingDeath3</string>
						<string>KingDeath4</string>
						<string>KingDeath5</string>
						<string>KingDeath6</string>
						<string>KingDeath7</string>
						<string>KingDeath8</string>
						<string>KingDeath9</string>
						<string>KingDeath10</string>
						<string>KingDeath11</string>
						<string>KingDeath12</string>
						<string>KingDeath13</string>
						<string>KingDeath14</string>
						<string>KingDeath15</string>
						<string>KingDeath16</string>
						<string>KingDeath17</string>
						<string>KingDeath18</string>
						<string>KingDeath19</string>
						<string>KingDeath20</string>
					</array>
					<key>HurtFPS</key>
					<integer>10</integer>
					<key>DeadFPS</key>
					<integer>10</integer>
					<key>WalkFPS</key>
					<integer>10</integer>
					<key>AngryWalkFPS</key>
					<integer>30</integer>
					<key>RemoveOutsideBoundary</key>
					<false/>
				</dict>
				<key>DeathRiderRight</key>
				<dict>
					<key>Name</key>
					<string>DeathRider</string>
					<key>InitialDelay</key>
					<integer>1</integer>
					<key>Score</key>
					<integer>600</integer>
					<key>SpawnFrequency</key>
					<integer>4</integer>
					<key>TotalToSpawn</key>
					<integer>0</integer>
					<key>SpawnNode</key>
					<string>RightSpawn</string>
					<key>BodyType</key>
					<string>Circle</string>
					<key>BodyOffset</key>
					<string>{ 0, 18 }</string>
					<key>RadiusDivider</key>
					<integer>3</integer>
					<key>XScale</key>
					<integer>-1</integer>
					<key>ReviveTime</key>
					<integer>1</integer>
					<key>SpeedAfterRevive</key>
					<integer>4</integer>
					<key>ReviveCount</key>
					<integer>1</integer>
					<key>BlinkToDeath</key>
					<true/>
					<key>JumpOnToKill</key>
					<true/>
					<key>JumpOnBounceBack</key>
					<integer>100</integer>
					<key>JumpThreshold</key>
					<integer>50</integer>
					<key>Speed</key>
					<integer>5</integer>
					<key>Atlas</key>
					<string>DeathRider</string>
					<key>BaseFrame</key>
					<string>DeathRiderRun1</string>
					<key>Depth</key>
					<integer>1</integer>
					<key>SoundEnemyEnter</key>
					<string></string>
					<key>SoundEnemyHurt</key>
					<string>monster_hurt.wav</string>
					<key>SoundEnemyDie</key>
					<string>monster_hurt.wav</string>
					<key>SoundEnemyAttack</key>
					<string></string>
					<key>WalkFrames</key>
					<array>
						<string>DeathRiderRun1</string>
						<string>DeathRiderRun2</string>
						<string>DeathRiderRun3</string>
						<string>DeathRiderRun4</string>
						<string>DeathRiderRun5</string>
						<string>DeathRiderRun6</string>
						<string>DeathRiderRun7</string>
						<string>DeathRiderRun8</string>
						<string>DeathRiderRun9</string>
						<string>DeathRiderRun10</string>
					</array>
					<key>AttackFrames</key>
					<array>
						<string>DeathRiderAttack1</string>
						<string>DeathRiderAttack2</string>
						<string>DeathRiderAttack3</string>
						<string>DeathRiderAttack4</string>
						<string>DeathRiderAttack5</string>
						<string>DeathRiderAttack6</string>
						<string>DeathRiderAttack7</string>
						<string>DeathRiderAttack8</string>
						<string>DeathRiderAttack9</string>
						<string>DeathRiderAttack10</string>
					</array>
					<key>AngryWalkFrames</key>
					<array>
						<string>DeathRiderRun1</string>
						<string>DeathRiderRun2</string>
						<string>DeathRiderRun3</string>
						<string>DeathRiderRun4</string>
						<string>DeathRiderRun5</string>
						<string>DeathRiderRun6</string>
						<string>DeathRiderRun7</string>
						<string>DeathRiderRun8</string>
						<string>DeathRiderRun9</string>
						<string>DeathRiderRun10</string>
					</array>
					<key>HurtFrames</key>
					<array>
						<string>DeathRiderHurt1</string>
						<string>DeathRiderHurt2</string>
						<string>DeathRiderHurt3</string>
						<string>DeathRiderHurt4</string>
						<string>DeathRiderHurt5</string>
						<string>DeathRiderHurt6</string>
						<string>DeathRiderHurt7</string>
						<string>DeathRiderHurt8</string>
					</array>
					<key>DeadFrames</key>
					<array>
						<string>DeathRiderDead1</string>
						<string>DeathRiderDead2</string>
						<string>DeathRiderDead3</string>
						<string>DeathRiderDead4</string>
						<string>DeathRiderDead5</string>
						<string>DeathRiderDead6</string>
						<string>DeathRiderDead7</string>
						<string>DeathRiderDead8</string>
						<string>DeathRiderDead9</string>
						<string>DeathRiderDead10</string>
						<string>DeathRiderDead11</string>
						<string>DeathRiderDead12</string>
					</array>
					<key>HurtFPS</key>
					<integer>10</integer>
					<key>DeadFPS</key>
					<integer>10</integer>
					<key>WalkFPS</key>
					<integer>10</integer>
					<key>AngryWalkFPS</key>
					<integer>30</integer>
					<key>RemoveOutsideBoundary</key>
					<false/>
				</dict>
			</dict>
			<key>Portals</key>
			<dict>
				<key>PortalToCoins</key>
				<dict>
					<key>RequiresEnemiesKilledOver</key>
					<integer>1</integer>
					<key>AddsToLevelsPassed</key>
					<false/>
					<key>ShowLevelPassedImage</key>
					<false/>
					<key>NodeToMovePlayerTo</key>
					<string>PortalJump</string>
					<key>NodeToMoveCameraTo</key>
					<string>CameraJump</string>
					<key>OneTimeUse</key>
					<true/>
					<key>MovesBothPlayers</key>
					<true/>
					<key>TextureAfterUse</key>
					<string>DoorOpen</string>
				</dict>
				<key>PortalBackToMainPlatform</key>
				<dict>
					<key>NodeToMovePlayerTo</key>
					<string>PortalJump2</string>
					<key>NodeToMoveCameraTo</key>
					<string>CameraJump2</string>
					<key>OneTimeUse</key>
					<true/>
					<key>MovesBothPlayers</key>
					<true/>
					<key>TextureAfterUse</key>
					<string>DoorOpen</string>
				</dict>
				<key>PortalToSecretLevel</key>
				<dict>
					<key>Levels</key>
					<string>SecretLevels</string>
					<key>LevelToLoad</key>
					<integer>1</integer>
					<key>AddsToLevelsPassed</key>
					<false/>
					<key>ShowLevelPassedImage</key>
					<false/>
					<key>TextureAfterUse</key>
					<string>DoorOpen</string>
				</dict>
			</dict>
			<key>SpringBoards</key>
			<dict>
				<key>Spring1</key>
				<dict>
					<key>Atlas</key>
					<string>SpringBoard</string>
					<key>Frames</key>
					<array>
						<string>Spring0001</string>
						<string>Spring0002</string>
						<string>Spring0003</string>
						<string>Spring0004</string>
						<string>Spring0005</string>
						<string>Spring0006</string>
						<string>Spring0007</string>
						<string>Spring0008</string>
						<string>Spring0009</string>
						<string>Spring0009</string>
						<string>Spring0009</string>
						<string>Spring0009</string>
						<string>Spring0009</string>
						<string>Spring0005</string>
						<string>Spring0004</string>
						<string>Spring0003</string>
						<string>Spring0002</string>
						<string>Spring0001</string>
					</array>
					<key>FPS</key>
					<integer>30</integer>
					<key>Velocity</key>
					<string>{ 0, 150}</string>
					<key>Restitution</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</array>
	<key>VersusLevels</key>
	<array>
		<dict>
			<key>SKSFile</key>
			<string>VersusLevel1</string>
			<key>CameraBetweenPlayers</key>
			<false/>
			<key>RefreshLevelOnDeath</key>
			<true/>
			<key>DisableContinue</key>
			<true/>
			<key>BoundaryFlip</key>
			<true/>
			<key>UnlimitedBullets</key>
			<false/>
			<key>BulletsToStart</key>
			<integer>50</integer>
			<key>PlayerOnPlayerBounceThreshold</key>
			<integer>50</integer>
			<key>PlayerOnPlayerImpact</key>
			<integer>150</integer>
			<key>StealHearts</key>
			<true/>
			<key>StealHeartsSound</key>
			<string>Coin.caf</string>
			<key>ResetScore</key>
			<false/>
			<key>LevelResetsHearts</key>
			<true/>
			<key>SoundLevelBegin</key>
			<string></string>
			<key>SoundLevelFail</key>
			<string>game-over.wav</string>
			<key>SoundLevelSucceed</key>
			<string>win-sound.mp3</string>
			<key>SoundPlayer1Win</key>
			<string></string>
			<key>SoundPlayer2Win</key>
			<string></string>
			<key>Player1Ammo</key>
			<dict>
				<key>AwardsHowMuch</key>
				<integer>25</integer>
				<key>SpawnsHowOften</key>
				<integer>30</integer>
				<key>SpawnsAtRandomTime</key>
				<true/>
				<key>MinimumTimeBetweenSpawns</key>
				<integer>15</integer>
				<key>AwardsToBothPlayers</key>
				<false/>
				<key>OnlyAllowOneAtATime</key>
				<false/>
				<key>SoundAmmoCollect</key>
				<string>Coin.caf</string>
				<key>SoundAmmoDrop</key>
				<string></string>
			</dict>
			<key>Player2Ammo</key>
			<dict>
				<key>AwardsHowMuch</key>
				<integer>25</integer>
				<key>SpawnsHowOften</key>
				<integer>30</integer>
				<key>SpawnsAtRandomTime</key>
				<true/>
				<key>MinimumTimeBetweenSpawns</key>
				<integer>15</integer>
				<key>AwardsToBothPlayers</key>
				<false/>
				<key>OnlyAllowOneAtATime</key>
				<false/>
				<key>SoundAmmoCollect</key>
				<string>Coin.caf</string>
				<key>SoundAmmoDrop</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>SecretLevels</key>
	<array>
		<dict>
			<key>SKSFile</key>
			<string>SecretLevel1</string>
			<key>PlayMp3FromList</key>
			<integer>0</integer>
			<key>Portals</key>
			<dict>
				<key>BackToLevel1</key>
				<dict>
					<key>Levels</key>
					<string>Levels</string>
					<key>LevelToLoad</key>
					<integer>1</integer>
					<key>ShowLevelPassedImage</key>
					<false/>
					<key>TextureAfterUse</key>
					<string>DoorOpen</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Players</key>
	<dict>
		<key>Player1</key>
		<dict>
			<key>Speed</key>
			<integer>10</integer>
			<key>SpeedBoost</key>
			<integer>5</integer>
			<key>ClimbSpeed</key>
			<integer>10</integer>
			<key>Atlas</key>
			<string>Player1</string>
			<key>IdleFrames</key>
			<array>
				<string>Player1_Idle1</string>
				<string>Player1_Idle2</string>
				<string>Player1_Idle3</string>
				<string>Player1_Idle4</string>
				<string>Player1_Idle5</string>
				<string>Player1_Idle6</string>
				<string>Player1_Idle7</string>
				<string>Player1_Idle8</string>
				<string>Player1_Idle9</string>
				<string>Player1_Idle10</string>
			</array>
			<key>DeadFrames</key>
			<array>
				<string>Player1_Dead1</string>
				<string>Player1_Dead2</string>
				<string>Player1_Dead3</string>
				<string>Player1_Dead4</string>
				<string>Player1_Dead5</string>
				<string>Player1_Dead6</string>
				<string>Player1_Dead7</string>
				<string>Player1_Dead8</string>
				<string>Player1_Dead9</string>
				<string>Player1_Dead10</string>
				<string>Player1_Dead11</string>
			</array>
			<key>ShootFrames</key>
			<array>
				<string>Player1_Shoot1</string>
				<string>Player1_Shoot2</string>
				<string>Player1_Shoot3</string>
				<string>Player1_Shoot4</string>
				<string>Player1_Shoot5</string>
				<string>Player1_Shoot6</string>
			</array>
			<key>JumpFrames</key>
			<array>
				<string>Player1_Jump1</string>
				<string>Player1_Jump2</string>
				<string>Player1_Jump3</string>
				<string>Player1_Fly1</string>
				<string>Player1_Jump4</string>
				<string>Player1_Jump5</string>
				<string>Player1_Jump6</string>
				<string>Player1_Fly2</string>
				<string>Player1_Jump7</string>
				<string>Player1_Jump8</string>
				<string>Player1_Jump9</string>
				<string>Player1_Fly3</string>
				<string>Player1_Jump10</string>
			</array>
			<key>ClimbFrames</key>
			<array>
				<string>Player1_Fly1</string>
				<string>Player1_Fly2</string>
				<string>Player1_Fly3</string>
			</array>
			<key>WalkFrames</key>
			<array>
				<string>Player1_Walk1</string>
				<string>Player1_Walk2</string>
				<string>Player1_Walk3</string>
				<string>Player1_Walk4</string>
				<string>Player1_Walk5</string>
				<string>Player1_Walk6</string>
				<string>Player1_Walk7</string>
				<string>Player1_Walk8</string>
			</array>
			<key>RunFrames</key>
			<array>
				<string>Player1_Run1</string>
				<string>Player1_Run2</string>
				<string>Player1_Fly1</string>
				<string>Player1_Run3</string>
				<string>Player1_Fly2</string>
				<string>Player1_Run4</string>
				<string>Player1_Fly3</string>
				<string>Player1_Run5</string>
				<string>Player1_Run6</string>
			</array>
			<key>WalkFPS</key>
			<integer>30</integer>
			<key>RunFPS</key>
			<integer>60</integer>
			<key>JumpFPS</key>
			<integer>3</integer>
			<key>DeadFPS</key>
			<integer>10</integer>
			<key>ShootFPS</key>
			<integer>10</integer>
			<key>IdleFPS</key>
			<integer>10</integer>
			<key>ClimbFPS</key>
			<integer>10</integer>
			<key>ReviveTime</key>
			<integer>1</integer>
			<key>JumpAmount</key>
			<integer>900</integer>
			<key>DoubleJumpAmount</key>
			<integer>500</integer>
			<key>TimeBetweenFiring</key>
			<real>0.2</real>
			<key>BodyOffset</key>
			<string>{0,-5}</string>
			<key>BodyType</key>
			<string>Rectangle</string>
			<key>BodySize</key>
			<string>{50,150}</string>
			<key>WeaponSpeed</key>
			<integer>30</integer>
			<key>WeaponRotationSpeed</key>
			<integer>0</integer>
			<key>WeaponImage</key>
			<string>blue-star</string>
			<key>WeaponOffset</key>
			<string>{100,  -35}</string>
			<key>WeaponDelay</key>
			<real>0.2</real>
			<key>SoundJump</key>
			<string>rake_whoosh.mp3</string>
			<key>SoundLand</key>
			<string></string>
			<key>SoundLoseHeart</key>
			<string></string>
			<key>SoundDead</key>
			<string>game-die.mp3</string>
			<key>SoundBounce</key>
			<string></string>
			<key>SoundShoot</key>
			<string>ninja_throwing_star_whoosh.mp3</string>
			<key>SoundBulletImpact</key>
			<string>Explosion.mp3</string>
			<key>SoundNoAmmo</key>
			<string>no-ammo.wav</string>
		</dict>
		<key>Player2</key>
		<dict>
			<key>Speed</key>
			<integer>10</integer>
			<key>SpeedBoost</key>
			<integer>2</integer>
			<key>ClimbSpeed</key>
			<integer>12</integer>
			<key>Atlas</key>
			<string>Player2</string>
			<key>IdleFrames</key>
			<array>
				<string>Player2_Idle1</string>
				<string>Player2_Idle2</string>
				<string>Player2_Idle3</string>
				<string>Player2_Idle4</string>
				<string>Player2_Idle5</string>
				<string>Player2_Idle6</string>
				<string>Player2_Idle7</string>
				<string>Player2_Idle8</string>
				<string>Player2_Idle9</string>
				<string>Player2_Idle10</string>
			</array>
			<key>DeadFrames</key>
			<array>
				<string>Player2_Dead1</string>
				<string>Player2_Dead2</string>
				<string>Player2_Dead3</string>
				<string>Player2_Dead4</string>
				<string>Player2_Dead5</string>
				<string>Player2_Dead6</string>
				<string>Player2_Dead7</string>
				<string>Player2_Dead8</string>
				<string>Player2_Dead9</string>
				<string>Player2_Dead10</string>
			</array>
			<key>ClimbFrames</key>
			<array>
				<string>Player2_Jump1</string>
			</array>
			<key>ShootFrames</key>
			<array>
				<string>Player2_Shoot1</string>
				<string>Player2_Shoot2</string>
				<string>Player2_Shoot3</string>
				<string>Player2_Shoot4</string>
				<string>Player2_Shoot5</string>
				<string>Player2_Shoot6</string>
			</array>
			<key>JumpFrames</key>
			<array>
				<string>Player2_Jump1</string>
				<string>Player2_Jump2</string>
				<string>Player2_Jump3</string>
				<string>Player2_Fly1</string>
				<string>Player2_Jump4</string>
				<string>Player2_Jump5</string>
				<string>Player2_Jump6</string>
				<string>Player2_Fly2</string>
				<string>Player2_Jump7</string>
				<string>Player2_Jump8</string>
				<string>Player2_Jump9</string>
				<string>Player2_Fly3</string>
				<string>Player2_Jump10</string>
			</array>
			<key>WalkFrames</key>
			<array>
				<string>Player2_Walk1</string>
				<string>Player2_Walk2</string>
				<string>Player2_Walk3</string>
				<string>Player2_Walk4</string>
				<string>Player2_Walk5</string>
				<string>Player2_Walk6</string>
				<string>Player2_Walk7</string>
				<string>Player2_Walk8</string>
			</array>
			<key>RunFrames</key>
			<array>
				<string>Player2_Run1</string>
				<string>Player2_Fly1</string>
				<string>Player2_Run2</string>
				<string>Player2_Run3</string>
				<string>Player2_Fly2</string>
				<string>Player2_Run4</string>
				<string>Player2_Run5</string>
				<string>Player2_Fly3</string>
				<string>Player2_Run6</string>
			</array>
			<key>WalkFPS</key>
			<integer>40</integer>
			<key>RunFPS</key>
			<integer>40</integer>
			<key>ReviveTime</key>
			<integer>1</integer>
			<key>ShootDelay</key>
			<integer>0</integer>
			<key>TimeBetweenFiring</key>
			<real>0.2</real>
			<key>JumpAmount</key>
			<integer>900</integer>
			<key>DoubleJumpAmount</key>
			<integer>500</integer>
			<key>BodyOffset</key>
			<string>{0,-5}</string>
			<key>BodySize</key>
			<string>{50,120}</string>
			<key>BodyType</key>
			<string>Rectangle</string>
			<key>RadiusDivider</key>
			<integer>3</integer>
			<key>WeaponSpeed</key>
			<integer>20</integer>
			<key>WeaponRotationSpeed - OFF</key>
			<real>0.5</real>
			<key>WeaponImage</key>
			<string>red-star</string>
			<key>WeaponOffset</key>
			<string>{100, -15}</string>
			<key>WeaponDelay</key>
			<real>0.1</real>
			<key>SoundJump</key>
			<string>rake_whoosh.mp3</string>
			<key>SoundLand</key>
			<string></string>
			<key>SoundLoseHeart</key>
			<string></string>
			<key>SoundDead</key>
			<string>game-die.mp3</string>
			<key>SoundBounce</key>
			<string></string>
			<key>SoundShoot</key>
			<string>ninja_throwing_star_whoosh.mp3</string>
			<key>SoundBulletImpact</key>
			<string>Explosion.mp3</string>
			<key>SoundNoAmmo</key>
			<string>no-ammo.wav</string>
		</dict>
	</dict>
	<key>Home</key>
	<dict>
		<key>Buttons</key>
		<dict>
			<key>OnePlayerSoloButton</key>
			<dict>
				<key>PlayerVersusPlayer</key>
				<false/>
				<key>Player1PlaysAsPlayer2</key>
				<false/>
				<key>LevelToLoad</key>
				<integer>1</integer>
				<key>DisableIfNotReached</key>
				<false/>
				<key>ContinueLastLevel</key>
				<false/>
				<key>SinglePlayerGame</key>
				<true/>
				<key>SecondPlayerIsCPU</key>
				<false/>
				<key>SelectedImage</key>
				<string>OnePlayerSoloButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>low_quick_whoosh.mp3</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>OnePlayerCoopButton</key>
			<dict>
				<key>PlayerVersusPlayer</key>
				<false/>
				<key>LevelToLoad</key>
				<integer>1</integer>
				<key>ContinueLastLevel</key>
				<false/>
				<key>SinglePlayerGame</key>
				<true/>
				<key>SecondPlayerIsCPU</key>
				<true/>
				<key>SelectedImage</key>
				<string>OnePlayerCoopButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>low_quick_whoosh.mp3</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>OnePlayerVersusButton</key>
			<dict>
				<key>PlayerVersusPlayer</key>
				<true/>
				<key>LevelToLoad</key>
				<integer>1</integer>
				<key>ContinueLastLevel</key>
				<false/>
				<key>SinglePlayerGame</key>
				<true/>
				<key>SecondPlayerIsCPU</key>
				<true/>
				<key>SelectedImage</key>
				<string>OnePlayerVersusButtonSelected</string>
				<key>Levels</key>
				<string>VersusLevels</string>
				<key>SoundButtonSelect</key>
				<string>low_quick_whoosh.mp3</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>TwoPlayerCoopButton</key>
			<dict>
				<key>PlayerVersusPlayer</key>
				<false/>
				<key>LevelToLoad</key>
				<integer>1</integer>
				<key>ContinueLastLevel</key>
				<false/>
				<key>SinglePlayerGame</key>
				<false/>
				<key>SecondPlayerIsCPU</key>
				<false/>
				<key>SelectedImage</key>
				<string>TwoPlayerCoopButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>low_quick_whoosh.mp3</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>TwoPlayerVersusButton</key>
			<dict>
				<key>PlayerVersusPlayer</key>
				<true/>
				<key>Levels</key>
				<string>VersusLevels</string>
				<key>LevelToLoad</key>
				<integer>1</integer>
				<key>ContinueLastLevel</key>
				<false/>
				<key>SinglePlayerGame</key>
				<false/>
				<key>SecondPlayerIsCPU</key>
				<false/>
				<key>SelectedImage</key>
				<string>TwoPlayerVersusButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>low_quick_whoosh.mp3</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>ContinueButton</key>
			<dict>
				<key>ContinueLastGame</key>
				<true/>
				<key>SelectedImage</key>
				<string>ContinueGameButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>low_quick_whoosh.mp3</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>GameCenterButton</key>
			<dict>
				<key>ShowGameCenter</key>
				<true/>
				<key>SelectedImage</key>
				<string>GameCenterButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>low_quick_whoosh.mp3</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>AnotherSceneButton</key>
			<dict>
				<key>SelectedImage</key>
				<string>AnotherMenuButtonSelected</string>
				<key>LoadScene</key>
				<string>AnotherMenu</string>
				<key>SoundButtonSelect</key>
				<string>low_quick_whoosh.mp3</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
		</dict>
		<key>ButtonExamples (Not in Use - Just for copy and paste)</key>
		<dict>
			<key>OnePlayerSoloButton - (In-App Purchase Example)</key>
			<dict>
				<key>RequiresProduct</key>
				<string>UNLOCKBOARD</string>
				<key>UnboughtImage</key>
				<string>AlternateImage</string>
				<key>UnboughtSelectedImage</key>
				<string>AlternateImageSelected</string>
				<key>PlayerVersusPlayer</key>
				<false/>
				<key>Player1PlaysAsPlayer2</key>
				<false/>
				<key>LevelToLoad</key>
				<integer>1</integer>
				<key>DisableIfNotReached</key>
				<false/>
				<key>ContinueLastLevel</key>
				<false/>
				<key>SinglePlayerGame</key>
				<true/>
				<key>SecondPlayerIsCPU</key>
				<false/>
				<key>SelectedImage</key>
				<string>OnePlayerSoloButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>low_quick_whoosh.mp3</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>RestorePurchasesButton - (Restore Example)</key>
			<dict>
				<key>RestoreProducts</key>
				<true/>
				<key>SelectedImage</key>
				<string>RestoreLit</string>
				<key>SoundButtonSelect</key>
				<string>flipper2.caf</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
		</dict>
		<key>SelectionOrder</key>
		<array>
			<string>OnePlayerSoloButton</string>
			<string>ContinueButton</string>
			<string>OnePlayerCoopButton</string>
			<string>TwoPlayerCoopButton</string>
			<string>OnePlayerVersusButton</string>
			<string>TwoPlayerVersusButton</string>
			<string>GameCenterButton</string>
			<string>AnotherSceneButton</string>
		</array>
		<key>Columns</key>
		<integer>2</integer>
		<key>MP3Loop</key>
		<string>Ninja Gaiden (NES) Soundtrack - 8BitStereo.mp3</string>
		<key>IntroSound</key>
		<string></string>
	</dict>
	<key>AnotherMenu</key>
	<dict>
		<key>Buttons</key>
		<dict>
			<key>BackButton</key>
			<dict>
				<key>SelectedImage</key>
				<string>BackButtonSelected</string>
				<key>LoadScene</key>
				<string>Home</string>
				<key>SoundButtonSelect</key>
				<string>low_quick_whoosh.mp3</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
		</dict>
		<key>SelectionOrder</key>
		<array>
			<string>BackButton</string>
		</array>
		<key>Columns</key>
		<integer>1</integer>
		<key>MP3Loop</key>
		<string></string>
		<key>IntroSound</key>
		<string></string>
	</dict>
	<key>iPadAdjustments</key>
	<dict>
		<key>HeartBox1</key>
		<string>{0,0}</string>
		<key>Player1Heart1</key>
		<string>{0,0}</string>
		<key>Player1Heart2</key>
		<string>{0,0}</string>
		<key>Player1Heart3</key>
		<string>{0,0}</string>
		<key>Player1Heart4</key>
		<string>{0,0}</string>
		<key>HeartBox2</key>
		<string>{0,0}</string>
		<key>Player2Heart1</key>
		<string>{0,0}</string>
		<key>Player2Heart2</key>
		<string>{0,0}</string>
		<key>Player2Heart3</key>
		<string>{0,0}</string>
		<key>Player2Heart4</key>
		<string>{0,0}</string>
		<key>KillCount</key>
		<string>{0,0}</string>
		<key>KillCountBox</key>
		<string>{0,0}</string>
		<key>BulletLabel1</key>
		<string>{0,0}</string>
		<key>BulletIcon1</key>
		<string>{0,0}</string>
		<key>BulletLabel2</key>
		<string>{0,0}</string>
		<key>BulletIcon2</key>
		<string>{0,0}</string>
		<key>CombinedScore</key>
		<string>{0,0}</string>
		<key>HighScore</key>
		<string>{0,0}</string>
		<key>ScorePlayer1</key>
		<string>{0,0}</string>
		<key>ScorePlayer2</key>
		<string>{0,0}</string>
		<key>WinCount1</key>
		<string>{0,0}</string>
		<key>WinCount2</key>
		<string>{0,0}</string>
		<key>Ball</key>
		<string>{0,0}</string>
		<key>Base</key>
		<string>{0,0}</string>
		<key>Button1</key>
		<string>{0,0}</string>
		<key>Button2</key>
		<string>{0,0}</string>
		<key>PausePlaceholder</key>
		<string>{0,0}</string>
		<key>ResumePlaceholder</key>
		<string>{0,0}</string>
		<key>MainMenuPlaceholder</key>
		<string>{0,0}</string>
		<key>ControllerPlaceholder</key>
		<string>{0,0}</string>
		<key>TransitionPlaceholder</key>
		<string>{0,0}</string>
		<key>TrackPromptPlaceholder</key>
		<string>{0,0}</string>
		<key>TrackCreditPlaceholder</key>
		<string>{0,0}</string>
	</dict>
	<key>MP3List</key>
	<array>
		<string>Epic Japanese Music Shadow Ninja.mp3</string>
		<string>Ninja Gaiden (NES) Soundtrack - 8BitStereo.mp3</string>
	</array>
	<key>EnableGameCenter</key>
	<false/>
	<key>LeaderBoardID</key>
	<string>HighScore</string>
	<key>TransactionID</key>
	<string></string>
</dict>
</plist>
